
<% if @property.is_sold? %>
  <div class="row">
    <div class="col-sm-12 alert-info text-sm-center">
      <strong>SOLD</strong>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="pull-sm-right"><%= link_to 'Back', properties_path %> <% if current_user.is_agent? %> | <%= link_to 'Edit', edit_property_path(@property) %> | <%= link_to @property.images.empty? ? 'Add Images' : 'Manage Images', property_images_path(@property) %> | <%= link_to 'Destroy', @property, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></div>

  <div class="col-sm-3">
    <strong>Title:</strong>
    <%= @property.title %>
  </div>

  <div class="col-sm-2">
    <strong>Price:</strong>
    <%= number_to_currency(@property.price, {precision: 0}) %>
  </div>

  <div class="col-sm-7">
    <strong>Full Street Address:</strong>
    <%= @property.full_street_address %>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <strong>Property type:</strong>
    <%= PropertyType.description_for(@property.property_type) %>
  </div>

  <div class="col-sm-2">
    <strong>Bedrooms:</strong>
    <%= @property.bedrooms %>
  </div>

  <div class="col-sm-2">
    <strong>Bathrooms:</strong>
    <%= @property.bathrooms %>
  </div>

  <div class="col-sm-3">
    <strong>Livable area square feet:</strong>
    <%= number_with_delimiter @property.livable_area_square_feet %>
  </div>

  <div class="col-sm-2">
    <strong>Land size acres:</strong>
    <%= number_with_delimiter @property.land_size_acres %>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <strong>Description:</strong>
    <%= @property.description %>
  </div>
  <div class="col-sm-4">
    <strong>Features:</strong>
    <%= @property.features.collect { |f| Feature.description_for(f) }.join(", ") %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <% @property.images.each do |image| %>
      <div class="property-image"><span class="featured-image-text"><% if image.is_featured? %>Featured Image<% end %></span><br><%= image_tag image.url, {height: '150'} %></div>
    <% end %>
  </div>
</div>

<div style="width: 800px; margin-top: 20px">
  <div id="map" style="width: 500px; height: 300px;"></div>
</div>

<%= javascript_tag do %>
  $(document).on('turbolinks:load', function(){
    map = new GMaps({
      div: '#map',
      lat: <%= @property.latitude %>,
      lng: <%= @property.longitude %>,
      zoom: 14
    });
    map.drawOverlay({
      lat: map.getCenter().lat(),
      lng: map.getCenter().lng(),
      content: '<div class="overlay"><%= @property.full_street_address %><div class="overlay_arrow above"></div></div>',
      verticalAlign: 'top',
      horizontalAlign: 'center'
    });
  });
<% end %>
